
html,body{
	margin: 0;
	padding: 0;
}
#background{
	background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* 选择文件 */
#chooseFile{
	position: absolute;
	background-color: #ffffff;
	top: 303px;
	left: 610px;
	width: 710px;
	height: 495px;
	border-radius: 5px ;
}
#chooseFile>.title{
	height: 46px;
	width: 100%;
	font-size: 14px;
	color: #484848;
	/* background-color: #000999; */
	
}
#chooseFile>.content{
	height: 394px;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#chooseFile>.submissionArea{
	height: 55px;
	width: 100%;
	/* background-color: #887651; */
	display: flex;
}
#chooseFile .back{
	position: absolute;
	width: 7px;
	height: 13px;
	left: 15px;
	top: 17px;
	background: url(../img/openFile/btn_back.png);
}
#chooseFile .delete{
	position: absolute;
	width: 11px;
	height: 11px;
	right: 16px;
	top: 18px;
	background: url(../img/openFile/btn_cancle.png);
}
#chooseFile>.title>.text{
	width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
}

#chooseFile>.content>div{
	width: 334px;
	height: 394px;
	background-color: #f2f2f2;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	/*= justify-content:center; */
}
#chooseFile>.content .subTitle{
	width: 100%;
	height: 32px;
	color: #484848;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
}

#chooseFile>.content .uploadFile{
	width: 67px;
    height: 12px;
    top: 11px;
    margin-left: 177px;
}
#chooseFile>.content>.att .uploadFile{
	margin-left: 220px;
}


#chooseFile>.content .uploadFile>.icon{
	width: 15px;
	height: 11px;
	background-color: red;
	display: inline-block;
	background: url(../img/openFile/btn_uploading_normal.png) ;
}

#chooseFile>.content .uploadFile>.text{
	width: 48px;
	height: 12px;
	font-size: 12px;
	color: #999999;
}
.rvm{
	margin: 0px 5px 0px 16px;
}
.att{
	margin: 0px 16px 0px 5px;
}
#chooseFile>.content>div>span:not(:first-child){
	height: 28px;
	font-size: 12px;
	color: #484848;
	line-height: 30px;
	/* background-color: red; */
}
#chooseFile>.content .head{
	height: 32px;
    width: 100%;
}
.checkBox{
	width: 110px;
	height: 100%;
	margin-left: 16px;
	/* background-color:red ; */
	/* margin-top: 19px; */
	display: inline-block;
	  
}
.submissionArea>.checkBox>.icon{
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-top: 19px;
	background: url(../img/openFile/btn_checkbox_unselected.png);
}

.submissionArea>.checkBox>.text{
	width: 72px;
	height: 12px;
	font-size: 12px;
	color: #484848;
	margin-left: 7px;
	vertical-align: 3px;
}

.buttonPane{
	display: inline-block;
	width: 260px;
	height:100% ;
	/* background-color: #999999; */
	margin-left: 100px;
}

.buttonPane button{
	width: 125px;
	height: 35px;
	margin-top: 10px;
	border-radius: 3px;
	color: #ffffff;
	font-size:14px;
	border: 0;
	/* background-color: transparent; */
	outline: none;
}
#yes{
	background-color:#347cb6;
}
#no{
	background-color:#ffffff;
	margin-left:5px;
	color: #b3b3b3;
	border: 1px solid #d0d0d0;
}
/* 未选择rvm文件 错误 */
#notChooseRvm{
	position: absolute;
	width: 296px;
	height: 158px;
	top: 515px;
	left: 923px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	display: none;
}
#notChooseRvm>.icon{
	display: block;
	background: url(../img/openFile/icon_warning.png) no-repeat;
	background-size: contain;
	width: 36px;
	height: 36px;
	margin-top: 20px;
}
#notChooseRvm>.text{
	margin-top: 14px;
	font-size: 12px;
	color: #484848;
}
.errorButton>button{
	width: 109px;
	height: 28px;
	margin-top: 27px;
	border-radius: 3px;
	background-color: #347cb6;
	color: #ffffff;
	font-size:12px;
	border: 0;
	/* background-color: transparent; */
	outline: none;
}
.noFile{
	width: 100%;
	height: 100%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.noFile>.info{
	width:181px;
	height: 58px;
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	align-items:center;
	/* justify-content: center; */
}
.noFile>.info>.text{
	color:#808080;
	font-size: 12px;
	margin-top: 15px;
}
.noFile>.info>.icon{
	width: 30px;
	height: 30px;
	background: url(../img/openFile/pic_empty.png) no-repeat;
	background-size: contain;
	display: block;
}