
html,body{
	margin: 0;
	padding: 0;
}
/* 选择文件 */
#chooseFile{
	position: absolute;
	background-color: #ffffff;
	/* top: 303px;
	left: 610px; */
	top: 28%;
	left: 32%; 
	width: 710px;
	height: 495px;
	border-radius: 5px ;
	display:none;
	box-shadow: 0px 0px 5px 0px 
		rgba(0, 0, 0, 0.19);
	border-radius: 3px;
}
#chooseFile>.title{
	height: 46px;
	width: 100%;
	font-size: 14px;
	color: #484848;
	
}
#chooseFile>.content{
	height: 394px;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#chooseFile>.submissionArea{
	height: 55px;
	width: 100%;
	display: flex;
}
#chooseFile .back{
	position: absolute;
	width: 7px;
	height: 13px;
	left: 15px;
	top: 17px;
	background: url(../img/openFile/btn_back.png);
}
#chooseFile .delete{
	position: absolute;
	width: 11px;
	height: 11px;
	right: 16px;
	top: 18px;
	background: url(../img/openFile/btn_cancle.png);
	cursor: pointer;
}
#chooseFile>.title>.text{
	width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
}

#chooseFile>.content>div{
	width: 334px;
	height: 394px;
	background-color: #f2f2f2;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
}
#chooseFile>.content .subTitle{
	width: 100%;
	height: 32px;
	color: #484848;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	margin-left: 10px;
}

#chooseFile>.content .uploadFile{
	width: 67px;
    height: 12px;
    top: 11px;
    margin-left: 183px;
	cursor:pointer;
}
#chooseFile>.content>.att .uploadFile{
	margin-left: 223px;
}


#chooseFile>.content .uploadFile>.icon{
	width: 15px;
	height: 11px;
	background-color: red;
	display: inline-block;
	background: url(../img/openFile/btn_uploading_normal.png) ;
}

#chooseFile>.content .uploadFile>.text{
	width: 48px;
	height: 12px;
	font-size: 12px;
	color: #999999;
}
.rvm{
	margin: 0px 5px 0px 16px;
}
.att{
	margin: 0px 16px 0px 5px;
}
/* #chooseFile>.content>div>span:not(:first-child){ */
#chooseFile>.content>div>.fileList{
	width: 100%;
	height: 362px;
	width: 100%;
    height: 362px;
    display: flex !important;
    flex-direction: column;
	overflow-y: auto;
	padding-bottom: 30px;
}
#chooseFile>.content>div>.fileList>span{
	height: 28px;
	font-size: 12px;
	color: #484848;
	line-height: 30px;
	margin-left: 5px;
	text-indent: 5px;
	
}
#chooseFile>.content>div>.fileList>span:hover{
	background-color: #e6e6e6;
	border-radius: 2px;
	margin-left: 5px;
	margin-right: 10px;
}
#chooseFile>.content .head{
	height: 32px;
    width: 100%;
}
.checkBox{
	width: 110px;
	height: 100%;
	margin-left: 16px;
	display: inline-block;
	cursor:pointer;
	  
}
.submissionArea>.checkBox>.icon{
	width: 17px;
	height: 17px;
	display: inline-block !important;
	margin-top: 19px;
	cursor:pointer;
}
.unselect{
	background: url(../img/openFile/btn_checkbox_unselected.png);
}
.select{
	background: url(../img/openFile/btn_checkbox_selected.png);
}

.submissionArea>.checkBox>.text{
	width: 72px;
	height: 12px;
	font-size: 12px;
	color: #484848;
	margin-left: 7px;
	vertical-align: 3px;
	cursor:pointer;
}

.buttonPane{
	display: inline-block;
	width: 260px;
	height:100% ;
	margin-left: 100px;
}

.buttonPane button{
	width: 125px;
	height: 35px;
	margin-top: 10px;
	border-radius: 3px;
	color: #ffffff;
	font-size:14px;
	border: 0;
	outline: none;
}

#yes{
	cursor:not-allowed;
}
.yesDisabled{
	/* cursor:not-allowed !important; */
	color:#ffffff;
	background-color:#999999;
}
#no{
	background-color:#ffffff;
	margin-left:5px;
	color: #b3b3b3;
	border: 1px solid #d0d0d0;
}
/* 未选择rvm文件 错误 */
#notChooseRvm{
	position: absolute;
	width: 296px;
	height: 158px;
	/* top: 515px;
	left: 923px; */
	top: 49%;
	left: 42%;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	display: none;
}
#notChooseRvm>.icon{
	display: block;
	background: url(../img/openFile/icon_warning.png) no-repeat;
	background-size: contain;
	width: 36px;
	height: 36px;
	margin-top: 20px;
}
#notChooseRvm>.text{
	margin-top: 14px;
	font-size: 12px;
	color: #484848;
}
.errorButton>button{
	width: 109px;
	height: 28px;
	margin-top: 27px;
	border-radius: 3px;
	background-color: #347cb6;
	color: #ffffff;
	font-size:12px;
	border: 0;
	outline: none;
}
.noFile{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.noFile>.info{
	width:181px;
	height: 58px;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.noFile>.info>.text{
	color:#808080;
	font-size: 12px;
	margin-top: 15px;
}
.noFile>.info>.icon{
	width: 30px;
	height: 30px;
	background: url(../img/openFile/pic_empty.png) no-repeat;
	background-size: contain;
	display: block;
}
.active{
	background-color: #347cb6 !important;
    color: #ffffff !important;
    border-radius: 2px;
    margin-right: 10px;
}
#rvmInputFile,#attInputFile{
	display:none;
}
#uploadFileBg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: none;
	
}
#uploadFileDiv{
	position: absolute;
	/* top: 284px;
	left: 708px; */
	top: 34%;
	left: 37%;
	width: 296px;
	height: 131px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
	border-radius: 3px;
}
#uploadFileDiv>.head{
	height: 26px;
	width: 100%;
	/* background-color: red; */
}
#uploadFileDiv>.content{
	height: 44px;
	width: 100%;
	/* background-color: green; */
}
#uploadFileDiv>.footer{
	height: 61px;
	width: 100%;
	/* background-color: yellow; */
}

#uploadFileDiv>.footer>button{
	height: 28px;
	width:109px;
	/* background-color: yellow; */
	border: 0;
	outline: none;
	background-color: #347cb6;
	border-radius: 3px;
	border: solid 8px #347cb6;
	margin-top: 18px;
	margin-left: 94px;
	color: #ffffff;
	padding-top: 0px;
}

#uploadFileDiv .close{
	position: absolute;
	width: 11px;
	height: 11px;
	right: 14px;
	top: 14px;
	background: url(../img/openFile/btn_cancle.png);
	cursor: pointer;
}
#uploadFileDiv .text{
	width: 100%;
    height: 100%;
    text-align: center;
	/* background-color: #1B6D85; */
	padding-top: 13px;
	font-size: 12px;
	color: #484848;
}
#uploadFileDiv>.content>.filePathString{
	width: 204px;
	height: 26px;
	margin-left: 21px;
	margin-top: 18px;
	background-color: #f2f2f2;
	border-radius: 3px;
	display: inline-block;
}
#uploadFileDiv>.content>.link{
	display: inline-block;
	width: 49px;
	height: 14px;
	margin-left: 9px;
	margin-top: 24px;
	text-decoration: underline;
	font-size: 12px;
	color: #347cb6;
	cursor: pointer;
	position: absolute;
}
#fileUploadInput{
	display: none;
}

#loadingBG{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	display: none;
}
#uploadLoading{
	position: absolute;
	width: 231px;
	height: 57px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
	border-radius: 3px;
	/* z-index: 5; */
	/* top: 473px;
	left: 956px; */
	top: 43%;
	left: 44%;
}
#uploadLoading .icon{
	width: 15px;
	height: 15px;
	margin-top: 21px;
	margin-left: 108px;
	/* background:url(../img/openFile/giphy.gif); */
	/* background:url(../img/openFile/btn_cancle.png); */
	/* display: block; */
	/* background-color: #e7c2c2; */
}
#successBG{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	/* background-color: #333333; */
	display: none;
}
#success{
	position: absolute;
	width: 231px;
	height: 57px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
	border-radius: 3px;
	/* z-index: 5; */
	/* top: 473px;
	left: 956px; */
	top: 43%;
	left: 44%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content : center;
}
